.main_container {
  display: flex;
  max-width: 100%;
  min-height: 100vh;
}

.sidebar {
  padding: 5%;
  width: 15%;
  border-right: 1px solid black;
}

.mailbox {
  width: 30%;
  border-right: 1px solid black;
}

.maildescription {
  width: 60%;
}
