.main_container {
  display: flex;
  max-width: 100%;
  min-height: 100vh;
}

.sidebar {
  padding: 5%;
  width: 15%;
  /* border-right: 1px solid black; */
  background-color: #f3f2f1;
}

.mailbox {
  width: 30%;
  /* border-right: 1px solid black; */
  background-color: #ffffff;
}

.maildescription {
  width: 60%;
  padding: 2%;
  background-color: #f3f2f1;
}
