/* .maildescription {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.maildesc {
  padding: 2%;
  background-color: #fff;
  width: auto;
}

.idcumsub {
  margin-bottom: 2%;
}
